<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtrk.service.remote"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19"/>
    <application android:label="@string/app_name">
        <service
            android:name=".RemoteServiceExample"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <!--
                     These are the interfaces supported by the service, which
                     you can bind to.
                -->
                <action android:name="com.rtrk.service.remote.IRemoteServiceExample"/>
                <!--
                     This is an action code you can use to select the service
                     without explicitly supplying the implementation class.                -->
                <action android:name="com.rtrk.service.remote.REMOTE_SERVICE"/>
            </intent-filter>
        </service>
    </application>
</manifest>